<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Demo1.TC_05CheckBoxesTest"/>
      <class name="com.BaseClass.BaseClass1"/>
      <class name="com.Demo1.TC_03ButtonsTest"/>
      <class name="com.Demo1.TC_08FileUploadTest"/>
      <class name="com.Demo1.TC_01LogInTest"/>
      <class name="com.Demo1.TC_07RadioButtonsTest"/>
      <class name="com.Demo1.TC_02DropDownTest"/>
      <class name="com.Demo1.TC_06DatePickerTest"/>
      <class name="com.Demo1.TC_04UploadTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
